<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>one</key>
	<dict>
		<key>dark</key>
		<dict>
			<key>color1</key>
			<string>#7c8394</string>
			<key>color2</key>
			<string>#003333</string>
			<key>img1</key>
			<string>http://b-ssl.duitang.com/uploads/item/201511/25/20151125162407_nfySc.thumb.224_0.jpeg</string>
			<key>tabOne</key>
			<string>tabOne_one</string>
			<key>tabTwo</key>
			<string>tabTwo_one</string>
			<key>tabThree</key>
			<string>tabThree_one</string>
			<key>tabTextColorNormal</key>
			<string>#000000</string>
			<key>tabTextColorSelect</key>
			<string>#999999</string>
			<key>state</key>
			<string>Dark Mode For ThemeOne</string>
		</dict>
		<key>light</key>
		<dict>
			<key>color1</key>
			<string>#fff</string>
			<key>color2</key>
			<string>#C0C0C0</string>
			<key>img1</key>
			<string>http://b-ssl.duitang.com/uploads/item/201603/12/20160312221641_veftm.jpeg</string>
			<key>tabOne</key>
			<string>tabOne_one</string>
			<key>tabTwo</key>
			<string>tabTwo_one</string>
			<key>tabThree</key>
			<string>tabThree_one</string>
			<key>tabTextColorNormal</key>
			<string>#FF0000</string>
			<key>tabTextColorSelect</key>
			<string>#999999</string>
			<key>state</key>
			<string>Light Mode For ThemeOne</string>
		</dict>
	</dict>
	<key>two</key>
	<dict>
		<key>dark</key>
		<dict>
			<key>color1</key>
			<string>#4B4B4B</string>
			<key>color2</key>
			<string>#242424</string>
			<key>img1</key>
			<string>http://i0.hdslb.com/bfs/article/ab58b1c384018d4d92ae28b8db0455c9c6283d32.jpg</string>
			<key>tabOne</key>
			<string>tabOne_one</string>
			<key>tabTwo</key>
			<string>tabTwo_one</string>
			<key>tabThree</key>
			<string>tabThree_one</string>
			<key>tabTextColorNormal</key>
			<string>#000000</string>
			<key>tabTextColorSelect</key>
			<string>#999999</string>
			<key>state</key>
			<string>Dark Mode For ThemeTwo</string>
		</dict>
		<key>light</key>
		<dict>
			<key>color1</key>
			<string>#33CC33</string>
			<key>color2</key>
			<string>#66CCFF</string>
			<key>img1</key>
			<string>http://b-ssl.duitang.com/uploads/item/201511/25/20151125191414_PdxsJ.jpeg</string>
			<key>tabOne</key>
			<string>tabOne_one</string>
			<key>tabTwo</key>
			<string>tabTwo_one</string>
			<key>tabThree</key>
			<string>tabThree_one</string>
			<key>tabTextColorNormal</key>
			<string>#FF0000</string>
			<key>tabTextColorSelect</key>
			<string>#999999</string>
			<key>state</key>
			<string>Light Mode For ThemeTwo</string>
		</dict>
	</dict>
</dict>
</plist>
